@page
@model ToDo.Pages.Goals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Goal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.DueTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.DueTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Goal.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Goal.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Goal.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
